*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --font-size-md: clamp(1rem, 2vw, 2rem);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
}
